html{
    margin: 0px;
    padding: 0px;
    font-family: serif;font-size: 62.5%;
    overflow: hidden;
}

.main-contaier{
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.menu {
    width: 100vw;
    padding: 25px;
    
}

.menu ul {
    display: flex;
    justify-content: center;
    
    
}
    
p {
    font-size: 1.6rem;
}



ul {
    display: flex;
    justify-content: center;
    
    
}

.container {
    display: flex;
   
    flex-direction: column;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 65vh;
   
    & .c1 {
        width: 50vw;
        height: 50vh;
    }

    & .c2 {
        width: 50vw;
        height: 50vh;
    }
   
}





@media (max-width: 768px) {
    html {
        overflow: scroll;
    }
   
    .container{
      margin: 0px;
      width: 100vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .c1 {
        width: 50vw;
        height: auto;
    }

    & .c2 {
        width: 50vw;
        height: auto;
    }
    }
    
    p {
        font-size: 1.3rem;
    }

  

    .conteudo {
        max-width: 100%;
    }

   
   
  }


