html{
    margin: 0px;
    padding: 0px;
    font-family: serif;font-size: 62.5%;
    
}

body {
    
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    
    width: 100vw;
    align-items: center;
    justify-content: center;
   
}
    



.imagem {
    
    width: 100vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.imagem img {
    background-color: #1c271a80;
    width: 30%;
    height: 50%;
    margin:10px;
    
    border-radius: 5px;
    
}


.menu {
    width: 100vw;
    padding: 25px;
    
}



ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}


.conteudo01 {
    
    width: 50vw;
    height: 600px;
}
.conteudo02 {
    
    width: 50vw;
    height: 600px;
}

h1 {
    color: azure;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 200%;

}


@media (max-width: 800px) {
    html {
        overflow: scroll;
       
    }

    .container {
      margin: 0px;
      width: 100vw;
      
      display: flex;
      
      flex-wrap: wrap;
      flex-direction: column;
    }
    .conteudo01 {
        overflow: scroll;
        width: 50vw;
        height: 300px;
        margin-bottom: 20px;
    }
    .conteudo02 {
        overflow: scroll;
        width: 50vw;
        height: 300px;
    }
    h1 {
        font-size: 2.5rem;
        margin-bottom: -100px;
    }

    h2 {
       
        
    }

    
    p {
        
    
    }
    

    .imagem {
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
        height: 20vh;
        
        
    }
    
    
    .imagem img {
    background-color: #1c271a80;
    width: 40%;
    height: 60%;
    margin:5px;
    margin-bottom: 0px;
    
    
    border-radius: 5px;
    
    }

    .footer {
        margin: 20px;
        
    }
   
 
   
  }