html{
    margin: 0px;
    padding: 0px;
    font-family: serif;font-size: 62.5%;
    overflow: hidden;
}

body {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.container {
    
    width: 100vw;
    display: flex;
   
}

.imagem {
    
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.imagem #img2 {
    background-color: #1c271a80;
    width: 25vw;
    height: 30vh;
    
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.imagem #img1 {
    width: 25vw;
    height: 45vh;
    
    border-radius: 5px;
}






.menu {
    width: 100vw;
    padding: 25px;
    
}

.menu li {
    
}



ul {
    display: flex;
    justify-content: center;
    
    
}





@media (max-width: 768px) {
    html {
        overflow: scroll;
    }
   
    .container{
      margin: 0px;
      width: 100vw;
      height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    

    .imagem{
        margin-top: 30px;
        flex-direction: row;
        width: 50vw;
        height: auto;
        margin-bottom: 60px;
        
    }
    

    .conteudo {
        max-width: 100%;
        
    }

    .imagem #img2 {
        background-color: #1c271a80;
        width: 35vw;
        height: auto;

        margin-right: 10px;
        border-radius: 5px;
        
    }
    
    .imagem #img1 {
        width: auto;
        height: 20vh;
        
        border-radius: 5px;
    }
   
  }