/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size: 62.5%;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
 background-image: url(/portifolio/html-css/img/sem-costura-padrao-absinto-em-fundo-cinza-escuro-ornamento-de-bela-planta-modelo-de-textura-aleatoria-para-tecido_186802-1956.avif);
 background-repeat: repeat;
 background-color: rgb(255, 255, 255);
 text-align: center;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}

li {
   
    padding: 10px;
    color: azure;
    font-size: 1.8rem;
    margin: 0px 30px;
    width: 10vw;
    border-radius: 10px;
    transition: 0.5s;
}

ul li:hover {
    background-color: hsl(300, 70%, 87%);
}

h2 {
    color: azure;
    margin: 40px;
    font-size: 5rem;
}
p {
    color: azure;
    font-size: 3rem;
    margin: 50px;
    line-height: 2;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}
header {
     width: 100%;
    height: 9vh;
    display: flex;
}


.conteudo {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer {
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.footer p {
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    html {
        overflow: scroll;
    }
    
    .container{
      margin: 0px;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    

    .imagem{
        
        
        width: 50vw;
        height: auto;
        
        
    }
    .imagem img {
        
        
        width: 100vw;
        height: auto;
    }

   

    .footer {
        
        width: 100vw;
        height: 11vh;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    ul li {
        font-size: 1rem;
        margin: 10px 10px ;
    }
    
    h2 {
        margin: 15px;
        font-size: 3rem;
    }
    
    p {
        font-size: 1.6rem;
        margin: 10px;
        line-height: 2;
    }
  }
